body{font-family:Arial;text-align:center;background:#f2f2f2}
.container{background:#fff;margin:30px auto;padding:20px;max-width:600px;border-radius:15px}
button{margin:5px;padding:10px;border-radius:10px;border:none;color:white}
.bio{background:#27ae60}.pakend{background:#f1c40f;color:black}
.paber{background:#3498db}.klaas{background:#16a085}
.panditaara{background:#2ecc71}.segaolme{background:#7f8c8d}
.ohtlik{background:#e74c3c}.elektroonika{background:#9b59b6}.tekstiil{background:#e67e22}